# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos de compilación y distribución
dist/
dist-ssr/

# Variables de entorno
.env
*.local

# Archivos específicos de React/Vite
.vite/
.vite-cache/
*.cache
coverage/

# Configuración del editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
